<!DOCTYPE html>
<html>

<head>
    <title>Graph_Game</title>
    <!-- CSS and Javascript -->
    <meta name="viewport" content="width=device-width">
    <link rel='stylesheet' href='/stylesheets/donation.css' /> 
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="object">
                <a href="/">Graph</a>
            </div>
            <div class="menu">
                <ol>   
                    <li><a href="/start">Game</a></li>
                    <li><a href="/rank">Ranking</a></li>
                    <li><a href="/donation">Donation</a></li>
                    <li><a href="/more">More</a></li>
                </ol>
            </div>
        </div>
        <div class="middle">
            <div class="donation">
                <p>모네로 입금주소</p>
                <p>4L7DhwADX9Y6wN7BfFBaEfF
                3Fw8uc3LiV8NUpTXgNDk8Ee
                P732b1yRxJGuNLwr4nowbn7
                g6kocN5LgVGVqsXuSseHB4G
                HQLRXzYECSguZc</p>
                <p>비트코인 입금주소</p>
                <p>13Qy1tZUhgkgPziKGanhS5bKD6jHX4RGKR</p>
                <p>퀀텀 입금주소</p>
                <p>QYc5vkRP44odKJKBLyZd8FXPavZsqH569m</p>
            </div>
        </div>
    </div>
</body>

</html>