<!DOCTYPE html>
<html>

<head>
    <title>Graph_Game</title>
    <% if(game === true) { %>
        <script src="http://127.0.0.1:3000/socket.io/socket.io.js"></script>
        <script src='/javascripts/mainscript.js'></script>
    <% } %>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="object">
                <a href="/">Graph</a>
            </div>
            <div class="menu">
                <ol>
                    <li><a href="/start">Game</a></li>
                    <li><a href="/rank">Ranking</a></li>
                    <li><a href="/donation">Donation</a></li>
                    <li><a href="/setting">Setting</a></li>
                </ol>
            </div>
        </div>
        <div class="middle">
            <% if(game === true) { %>
                <!-- 이름 적는 부분 -->
                <div class="namespace">
                    
                </div>
                <!-- 게임 플레이 부분 -->
                <div class="game">
                    <!-- 그래프, 접속사람들 -->
                    <div class="top">
                        <div class="graph">
                            <button type="button" id="example">Hey</button>
                       </div>
                        <div class="people">
                        
                        </div>
                    </div>
                    <!-- 채팅, 기록, 베팅 -->
                    <div class="bottom">
                       <div class="chat">
                        
                        </div>
                        <div class="record">
                        
                        </div>
                        <div class="bet">
                        
                        </div>
                    </div>
                </div>
            <% } %>

            <% if(donation === true) { %>
                <div class="donation">
                    <p>기업은행 01086029926</p>
                    <p>1인 개발자 입니다</p>
                    <p>서버를 돌리는데 도움이 필요합니다</p>
                    <p>후원은 서버개발과 공부에 큰 도움이 됩니다</p>
                </div>
            <% } %>
        </div>
    </div>
</body>

</html>