<!DOCTYPE html>
<html>

<head>
    <title>Graph_Game</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="container">
        <div class="Header">
            <div class="object">
                <a href="/">Graph</a>
            </div>
            <div class="menu">
                <ol>
                    <li><a href="/start">Game</a></li>
                    <li><a href="/rank">Ranking</a></li>
                    <li><a href="/donation">Donation</a></li>
                    <li><a href="/setting">Setting</a></li>
                </ol>
            </div>
        </div>

        <div class="middle">

        </div>
    </div>
</body>

</html>