<!DOCTYPE html>
<html>

<head>
    <title>Graph_Game</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="container">
        <div class="Header">
            <div class="object">
                <a href="/">Graph</a>
            </div>
            <div class="menu">
                <ol>
                    <li><a href="/start">Game</a></li>
                    <li><a href="/rank">Ranking</a></li>
                    <li><a href="/donation">Donation</a></li>
                    <li><a href="/setting">Setting</a></li>
                </ol>
            </div>
        </div>
        <div class="middle">
            <% if(donation == true) { %>
                <div class="donation">
                    <p>기업은행 01086029926</p>
                    <p>후원을 하면 복이 와요</p>
                </div>
            <% } %>
        </div>
    </div>
</body>

</html>