<!DOCTYPE html>
<html>

<head>
    <title>Graph_Game</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="object">
                <a href="/">Graph</a>
            </div>
            <div class="menu">
                <ol>
                    <li><a href="/start">Game</a></li>
                    <li><a href="/rank">Ranking</a></li>
                    <li><a href="/donation">Donation</a></li>
                    <li><a href="/setting">Setting</a></li>
                </ol>
            </div>
        </div>
        <div class="middle">
            <% if(game === true) { %>
                <div class="game">
                    <div class="top">
                        <div class="graph">
                            
                       </div>
                        <div class="people">
                        
                        </div>
                    </div>
                    <div class="bottom">
                       <div class="chat">
                        
                        </div>
                        <div class="record">
                        
                        </div>
                        <div class="bet">
                        
                        </div>
                    </div>
                </div>
            <% } %>

            <% if(donation === true) { %>
                <div class="donation">
                    <p>기업은행 01086029926</p>
                    <p>1인 개발자 입니다</p>
                    <p>서버를 돌리는데 도움이 필요합니다</p>
                    <p>후원은 서버개발과 공부에 큰 도움이 됩니다</p>
                    <p>도와주세요</p>
                </div>
            <% } %>
        </div>
    </div>
</body>

</html>