<!DOCTYPE html>
<html>

<head>
    <title>Graph_Game</title>
    <!-- CSS and Javascript -->
    <meta name="viewport" content="width=device-width">
    <link rel='stylesheet' href='/stylesheets/more.css' /> 
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="object">
                <a href="/">Graph</a>
            </div>
            <div class="menu">
                <ol>   
                    <li><a href="/start">Game</a></li>
                    <li><a href="/rank">Ranking</a></li>
                    <li><a href="/donation">Donation</a></li>
                    <li><a href="/more">More</a></li>
                </ol>
            </div>
        </div>
        <div class="middle">
            <p>곧 있으면 인디언 포커 게임이 추가되오니 많은 기대 부탁드립니다</p>
        </div>
    </div>
</body>

</html>