<!DOCTYPE html>
<html>

<head>
    <title>Graph_Game</title>
    <!-- CSS and Javascript -->
    <link rel='stylesheet' href='/stylesheets/rank.css' />
</head>

<body>
    <div class="container">
        <div class="header">
            <div class="object">
                <a href="/">Graph</a>
            </div>
            <div class="menu">
                <ol>   
                    <li><a href="/start">Game</a></li>
                    <li><a href="/rank">Ranking</a></li>
                    <li><a href="/donation">Donation</a></li>
                    <li><a href="/more">More</a></li>
                </ol>
            </div>
        </div>
        <div class="middle">
        </div>
    </div>
</body>

</html>